#link-logo {
    color: #FFCE54;
    font-size: 3rem; /*48px;*/
    font-family: 'CookieRunBlack';
    -webkit-text-stroke: 2px black;
}
#link-active {
    color: #ED5565;
}
#grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    border-bottom: 1px solid gray;
}
#grid > nav {
    border-right: 1px solid gray;
}
#grid > section, #grid > article {
    padding: 0 20px 0 20px;
}
#grid ol {
    width: 150px;
    padding: 20px;
    padding-left: 30px;
    margin: 0;
}
#btn-heart {
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 50px;
    font-size: 2rem;
    font-family: 'CookieRunRegular';
    background-color: lightgray;
    color: white;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
}
#btn-heart:hover{
    background-color: pink;
}
#btn-heart:active{
    background-color:red;
}
#font-type-01{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 2;
    /*font: bold 5rem/2 Arial, Helvetica, sans-serif;*/
}

.link-text {
    text-decoration: underline;
    color: darkgray;
    font-weight: bold;
}
.link-author {
    font-family: 'Nanum Myeongjo', serif;
    color: gray;              
}

body{
    margin: 0;
}
section > h2, article > h2{
    font-family: 'CookieRunBold';
}
nav, section, article, form > input{
    font-family: 'CookieRunRegular';
}
h1{
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 20px;
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #4FC1E9;
    text-decoration: underline;

}
a:active{
    color: #5D9CEC;
}
input:focus{
    background-color: black;
    color: white;
}

@media(max-width:800px){
    #grid{
        display: block;
        border-bottom: none;
    }
    #grid nav{
        border-right: none;

    }
    h1{
        border-bottom: none;
    }
}

@font-face {
    font-family: 'CookieRunRegular';
    src: url('fonts/CookieRunRegular/CookieRun-Regular.woff2') format('woff2'),
        url('fonts/CookieRunRegular/CookieRun-Regular.woff') format('woff'),
        url('fonts/CookieRunRegular/CookieRun-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CookieRunBold';
    src: url('fonts/CookieRunBold/CookieRun-Bold.woff2') format('woff2'),
        url('fonts/CookieRunBold/CookieRun-Bold.woff') format('woff'),
        url('fonts/CookieRunBold/CookieRun-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CookieRunBlack';
    src: url('fonts/CookieRunBlack/CookieRun-Black.woff2') format('woff2'),
        url('fonts/CookieRunBlack/CookieRun-Black.woff') format('woff'),
        url('fonts/CookieRunBlack/CookieRun-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}